.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -$lectures-section-spacing/4;
    margin-right: -$lectures-section-spacing/4;

    @include media-query($max-width) {
        & {
            margin-bottom: -$lectures-section-spacing/2;
        }
    }

    @include media-query($on-palm) {
        & {
            justify-content: flex-start;
        }
    }    
}

.grid-item {
    width: 33.33%;
    padding-left: $lectures-section-spacing/4;
    padding-right: $lectures-section-spacing/4;
    margin-bottom: $lectures-section-spacing/2;


    @include media-query($on-desktop) {
        & {
            width: 33.33%;
        }
    }

    @include media-query(768px) {
        & {
            width: 50%;
        }
    }

    @include media-query($on-mobile) {
        & {
            width: 100%;
        }
    }
}

.grid-item__inner {
    display: flex;
    flex-direction: column;
    height: 100%;

    @include media-query(768px) {
        & {
            height: 100%;
        }
    }    
}

.grid-item__header {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
}

.grid-item__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid-item__image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 0;
    padding-top: 100%;
    filter: grayscale(0.7) contrast(1.2);

    .grid-item:nth-child(1) & {
        background-position: center 18%;
    }

    .grid-item:nth-child(5) & {
        background-position: top;
    }
}

.grid-item__content {
    flex: 2;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}