.icon-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

.icon-list__item {
    margin-bottom: $spacing-unit / 2;
    display: flex;
    align-items: center;

    @media (min-width: map-get($breakpoints, sm)) {
        margin-bottom: $spacing-unit;
    }     
    
    &:last-of-type {
        margin-bottom: 0;
    }
}

.icon-list__link {
    display: flex;
    align-items: center;
    color: $text-color; 
}

.icon-list__text {
    font-size: 14px;

    @media (min-width: map-get($breakpoints, sm)) {
        font-size: 16px;
     }      
}

.icon-list__bullet {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $purple;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: $spacing-unit / 2;
    margin-bottom: auto; // For aligning bullet and multline text

    @media (min-width: map-get($breakpoints, sm)) {
        width: 40px;
        height: 40px;
     }      
}

.icon-list__icon {
    color: white;
    font-weight: bold;
    font-size: 1em;

    @media (min-width: map-get($breakpoints, sm)) {
        font-size: 1.2em;
     }   
}