
.navbar-collapse{
	border-top: 0px;
	box-shadow: none;
}


.navbar-toggle{
	margin-top: 13px;
	color: #FFF;
}


.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover{ 
	background-color: transparent !important;
}


.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: none !important;	
}


.icon-bar{
	background-color: #606060 !important;
}

.top-section .icon-bar{
	background-color: #FFF !important;
}

.navbar-brand{
	padding-right: 5px;
}

.navbar-brand.navbar-brand-section{
	display: inline; position: relative; top: 2px;	padding-left: 0;
}

.navbar{
	width: 100%;
	transition: color 1s ease, background-color 1s ease;
	border-bottom: none !important;
	margin-bottom: 0;
}

.nav>li>a{
	display: inline-block;
}

.nav>li>a:hover,
.nav>li>a:focus,
.nav>li>a.active{
	color: #222;
	background-color: #FFF !important;	
}

.nav>li>a.active-dark{
	color: #FFF;
	background-color: #666 !important;	
}



.nav a{
	font-weight: 400;
}

a{
	transition: color 0.2s ease, background-color 0.2s ease;	
}

.navbar-nav a{
	border-radius: 3px;
	margin: 15px 5px !important;
	padding: 5px 15px !important;
}


.navbar .navbar-nav{
	text-align: center;
}

#navigation.nav-active{
	height: 100vh;
}
