.form-control{
	-webkit-appearance: none;
	height: auto;
}


#signup p, #price p{
	font-size: 15px;
}

#signup{
	background: linear-gradient(rgba(157,113,208,.15),rgba(66,174,203,.15));
}


#create-organization-outer{
	background-color: white;
	padding: 30px;
	border-radius: 3px;
}

:-ms-input-placeholder{
	color: #AAA !important;
}

.mbri-large {
	font-size: 90px;
}

@keyframes pulse_animation {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.1);
  }
  10% {
    transform: scale(1);
  }
  15% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(1);
  }
}

.mbri-hearth {
	animation-name: pulse_animation;
	animation-duration: 2200ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.more-features{
	margin-top: 48px;
	margin-bottom: 26px;
	color: $pink;
}

#features .badge, .feature .badge{
	background-color: $pink;
}

#features h2{
	margin-bottom: 2em;
}

#features p{
	font-size: 15px;
}

#features a{
	display: block;
	color: inherit !important;
}

.media-left{
	padding-right: 10px;
}

#features .col-sm-4{
	padding-left: 25px;
	padding-right: 25px;	
}

#features .row{
	margin-bottom: 25px;
}

.btn{
    border-radius: 3px;
    letter-spacing: 0.1em;
    font-size: inherit !important;
    font-weight: 200;
}

.top-section{
	background-size: cover;
	background-repeat: no-repeat;
	color: #FFF;
	background-color: rgb(118, 148, 159);
}


.top-section div p a{
	margin-top: 40px;
}


.btn-primary{
	background-color: $pink;
	color: white;
}

.btn-primary:hover, .btn-primary:focus{
	background-color: darken($pink, 10%) !important;
}

.top-section .btn-primary{
	color: rgb(165, 113, 126);
	background-color: white;
}

.top-section .btn-primary:hover{
	background-color: $pink;
	color: white;
}

.top-section a{
	color: #FFF;
}


.next-section{
	margin-top: 30px;
}

.next-section div p{
	margin-bottom: -30px;
}

hr {
    height: 1px;
    border: 0;
    background: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.09) 10%, rgba(0, 0, 0, 0.09) 90%, transparent);
	margin: 0;
	margin-bottom: 20px;
}

@media screen and (max-width: 800px){
    .nav-tabs li a{
        padding-left: 7px;
        padding-right: 7px;
    }
}

.nav-tabs{
    margin-bottom: 1em;
}

.nav-tabs>li>a{
	color: inherit;
    font-weight: 200;
    font-size: 20px;    
}

@media screen and (max-width: 479px){
    .nav-tabs>li>a{
        font-weight: 800;
        font-size: 14px;    
    }
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover,
.nav-tabs>li>a:focus, 
.nav-tabs>li>a:hover{
	color: white;
	background-color: rgb(195, 143, 156);
}

.contact-section{
	color: rgb(123, 74, 88);
	background-color: rgb(240, 236, 235);
}

.tooltip-inner{
	font-family: $base-font-family;
    font-size: 24px;
    font-weight: 100;
    line-height: 1.6;
}

html{
	overflow-y: scroll;
}

a, button, a:focus, button:focus{
	outline: 0 !important;
	text-decoration: none !important;
	border: none !important;
}

.punch{
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.6em;
}

p{
	line-height: 1.6em;
}

.cta{
	margin-top: 2em;
	letter-spacing: 0.1em;
}

.cta .btn{
    font-weight: 800;
	margin: 10px auto;
}

.cta .or{
	margin-left: 10px;
	margin-right: 10px;
}

@media screen and (max-width: 768px) {
	.cta .or{
		display: block;
	}
}

*{
	margin: 0;
}

html, body{
	height: 100%;
}



body{
	text-rendering: optimizelegibility;

	color: #666;

	font-family: $base-font-family !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;

	border: 0 !important;
}


h1{
	margin-top: 0;
	font-size: 36px !important;
}


h2, h3{
    font-weight: 100;
	margin-top: 0;
}

h4{
    font-size: 1.5em;
    line-height: 1.5;
    font-weight: 700;
	margin-bottom: 0;
	margin-top: 25px;
}


input, textarea{
	color: #000 !important;
	outline: none !important;
	box-shadow: none !important;
}

input:focus, textarea:focus{
	background-color: #FFF !important;
	border-color: $pink !important;
}

a{
	font-weight: 200;
	transition: color 0.2s ease, border-width 0.2s ease;
}

a.active{
	border-bottom: 1px solid white !important;
}

a:hover{
	color: rgb(118, 148, 159);
	text-decoration: none;
}

.container-fluid.container-fluid--padded {
	@include media-query($max-width) {
        & {
            padding-left: 30px;
			padding-right: 30px;
        }
    }
}

.section {
	&--padded-top {
		padding-top: 30px;		
	}

	&--padded-bottom {
		padding-bottom: 30px;	
	}

	&--padded-top-bottom {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.jumbotron{
	background-color: transparent;
}

.jumbotron p{
    font-size: 20px;
	margin-bottom: 2.3em;
}

.wide {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}

.tight{
	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
}

.super-tight{
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.article {
	max-width: 55rem;
	margin-left: auto;
	margin-right: auto;
	text-align: left;

	p {
		margin-bottom: 2.5rem;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.feature-image{
	max-width: 300px;
}
 
@media screen and (min-width: 769px) {
	h2 {
		font-size: 3em;
	}
}

.kaddio-for-schools{
	color: $turquoise !important;
}

.post-title{
	font-weight: 100;
	color: $pink;
	font-size: 36px;
}

.post-meta{
	opacity: 0.5;
}

.post-content{
	margin-bottom: 0;
}

.post{
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	
}

.post h2{
	font-size: 1.25em;
	font-weight: 600;
	margin: 2em 0 .5em;
}

.post p{
	font-size: 16px;
	color: #606060;
	padding-top: 8px;
	padding-bottom: 8px;
}

.post a{
	color: #00A1DF;
}

.post a:hover{
	text-decoration: underline !important;
}


article img{
	border: 1px solid #ddd;
	box-shadow: 0 2px 2px #EEE;
	padding: 3px;
	max-width: 100%;
}

.img-person{
	max-width: 200px;
	margin-bottom: 20px;
}


.site-footer{
	padding-top: 40px;
	padding-bottom: 40px;
	color: #FFF;
	background-color: #f0f0f0;
	color: #999;	
}

nav a, .site-footer a{
	color: inherit;	
}

.site-footer a:hover{
	color: #444	
}

.site-footer nav h5{
	text-transform: uppercase;
	font-weight: bold;
	color: #666;	
}

.site-footer nav:hover h5{
	color: darken(#666, 20%) !important;
}

.page-content {
	min-height: 100%;
	margin: 0 auto -600px; /* the bottom margin is the negative value of the footer's height */
}
// .site-footer, .push {
// 	height: 600px; /* '.push' must be the same height as 'footer' */
// }

.site-footer .btn{
	background-color: $grey;
}

.site-footer ul{
	list-style: none;
	padding-left: 0;
}	

@media screen and (max-width: 767px){
    .site-footer nav{
        text-align: center
    }
}


.site-footer a.active-dark{
	padding: 10px;
	color: #FFF;
	background-color: #444 !important;	
}



.rss-subscribe{
	color: #f60;
}

#testimonials{
	background: linear-gradient(rgba(157,113,208,.15),rgba(66,174,203,.15));
	padding-top: 1em;
}

blockquote{
	border-left: none;
}


.unslider-nav li, .slider-nav li {
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    margin: 2px !important;
    border-radius: 50%;
	background: lighten($pink, 20%);
    cursor: pointer;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    transition: background 0.1s linear;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
}

.unslider-nav li.unslider-active {
	background: lighten($pink, 2%);
}

.unslider-nav li:hover, .slider-nav li:hover {
	background: lighten($pink, 10%);
}

.unslider-nav ol, .slider-nav ol{
	position: absolute;
	left: 45%;
}





.dash-brick.dash-brick-pay .dash-brick-header{
	background-image: -webkit-linear-gradient(bottom right, $purple, lighten($purple, 20%));
	background-image: linear-gradient(to top left, $purple, lighten($purple, 20%));
	background-color: #79589F;
	color: white;
}

.dash-brick.dash-brick-pay .dash-brick-header h3{
	font-weight: 600;
}

.dash-brick.dash-brick-pay .dash-brick-body{
	background-color: #f3f3f3;
}

.dash-brick{

	text-align: left;
	margin-bottom: 60px;
}

.dash-brick-header{
	background-color: #eaeaea;
	padding: 20px;
}


.dash-brick-header h1,
.dash-brick-header h2,
.dash-brick-header h3,
.dash-brick-header h4,
.dash-brick-header h5,
.dash-brick-header h6{
	margin: 0;
}

.dash-brick-body{
	background-color: #f3f3f3;
	padding: 20px;
}



.dash-brick-body table tr td{
	border-top: none;
	border-bottom: 1px solid #ddd;
}

.dash-brick-body table tr td:nth-child(1){
	padding-left: 0;
}

.dash-brick-body table.future-sessions tr:nth-child(1){
	font-weight: bold;
}


.dash-brick-body button{
	width: 100%;
}

#price_modules tbody tr:hover{
	cursor: pointer;
	background-color: #fcf8e3;
}

#price_modules tfoot tr:first-child{
	background-color: #fcf8e3;
}
#price_modules td:last-child, #price_modules th:last-child{
	text-align: right
}	

#premium-table tbody tr td:first-child{
	white-space: nowrap;	
}

.feature-highlight-card.policy-highlight{
	background: #9BF linear-gradient(to top left,#9BF,#FFDBF3);
	color: #6345A1;
}