


// Our variables
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$lectures-font-family: 'Mrs Saint Delafield', cursive;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;
$lectures-section-spacing: 6rem;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$lectures-color-accent: #c38f9c;
$lectures-color-dark: #272635;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-extralight: #FBFBFB;
$grey-color-dark:  darken($grey-color, 25%);

$turquoise: rgb(118, 148, 159);
$purple: #5d495b;
$pink: #c38f9c;
$grey: rgb(170, 170, 170);

// Width of the content area
$content-width:    800px;

$on-mobile:        465px;
$on-palm:          600px;
$on-laptop:        800px;
$on-desktop:       1200px;

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

$max-width: 1440px;

$card-radius: 8px;
$shadow-color: rgb(150,170,180);
$shadow-smooth: 0 50px 80px rgba($shadow-color, .2);
$shadow-card:  0 7px 30px -10px rgba($shadow-color, .5);



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "../_sass/base",
        "../_sass/_utils",
        "../_sass/pages/_lectures",
        "../_sass/pages/_about",
        "../_sass/pages/_career",
        "../_sass/components/_grid",
        "../_sass/components/_hero-header",
        "../_sass/components/_menu",
        "../_sass/components/_feature-highlight-card",
        "../_sass/components/_icon-list",
        "../_sass/components/_card"
;
